<%- include('../includes/utility/head')%>
</head>
<body class="header-white sidebar-dark">
    <%- include('../includes/header/header', user)%>
    <%- include('../includes/sidebar/rightSidebar')%>
    <%- include('../includes/sidebar/leftSidebar')%>
    <div class="mobile-menu-overlay"></div>
    <!-- Main container -->
    <div class="main-container">
        <%- include('../includes/body/mainContainer', user)%>
    </div>
<%- include('../includes/utility/foot.ejs')%>