<%- include('../includes/utility/head')%>
</head>
<body class="header-white sidebar-dark">
    <%- include('../includes/header/header')%>
    <%- include('../includes/sidebar/rightSidebar')%>
    <%- include('../includes/sidebar/leftSidebar')%>
    <div class="mobile-menu-overlay"></div>
    <!-- User list table -->
    <div class="main-container">
        <%- include('../includes/body/userList')%>
    </div>
<%- include('../includes/utility/foot.ejs')%>