<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Basic Tables</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Locked User List
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Responsive tables Start -->
    <div class="pd-20 card-box mb-30">
      <div class="clearfix mb-20">
        <div class="pull-left">
          <h4 class="text-blue h4">Locked user list</h4>
          <p>List of locked user on this system</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Actions</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% let count = 0%>
            <%for(user of lockedUsers) { %>
            <tr>
              <th scope="row"><%= count+=1%></th>
              <td><%=user.name %></td>
              <td><%=user.address %></td>
              <td><%=user.phone %></td>
              <td>
                <a href="/users/<%=user._id %>">
                  <span class="badge badge-primary">Details</span>
                </a>
              </td>
              <td>
                <a href="/auth/unblock/user/<%=user._id %>">
                  <span class="badge badge-info">Unblock</span>
                </a>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <div class="collapse collapse-box" id="responsive-table">
        <div class="code-box">
          <div class="clearfix">
            <a
              href="javascript:;"
              class="btn btn-primary btn-sm code-copy pull-left"
              data-clipboard-target="#responsive-table-code"
              ><i class="fa fa-clipboard"></i> Copy Code</a
            >
            <a
              href="#responsive-table"
              class="btn btn-primary btn-sm pull-right"
              rel="content-y"
              data-toggle="collapse"
              role="button"
              ><i class="fa fa-eye-slash"></i> Hide Code</a
            >
          </div>
          <pre><code class="xml copy-pre" id="responsive-table-code">
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
  <th scope="col">#</th>
</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
</tr>
</tbody>
</table>
</div>
                    </code></pre>
        </div>
      </div>
    </div>
    <!-- Responsive tables End -->
  </div>
  <%-include('../footer/footer')%>
</div>
