<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Cards Hover</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">UI Cards Hover</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Fade-in effect -->
        <h5 class="h4 text-blue mb-10">Fade-in effect</h5>
        <p class="mb-30">You can use by default <code>.da-overlay</code></p>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-30 offset-lg-3">
                <div class="card card-box">
                    <img class="card-img-top" src="/vendors/images/img3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title weight-500"><%=user.name %></h5>
                        <p class="card-text">Shop description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%=user.address %></li>
                        <li class="list-group-item"><%=user.phone %></li>
                        <li class="list-group-item">
                            <%if (shop.isLock == true) {%>
                                <a href="/auth/unblock/shop/<%=shop._id %>">
                                    <span class="badge badge-success">Unblock</span>
                                </a>
                            <%} else {%>
                                <a href="/auth/block/shop/<%=shop._id %>">
                                    <span class="badge badge-danger">Block</span>
                                </a>
                            <%}%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>
</div>